*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.pie{
    background-color: #71a330;
    display: flex;
    align-items: center;
    justify-content: center;
 }
  